[submodule "services/intelligent-assessment-engine"]
	path = services/intelligent-assessment-engine
	url = https://github.com/SCI-PATH/intelligent-assessment-engine.git
[submodule "services/gaming-service"]
	path = services/gaming-service
	url = https://github.com/SCI-PATH/gaming-service.git
[submodule "services/learner-analytics-genai-support"]
	path = services/learner-analytics-genai-support
	url = https://github.com/SCI-PATH/learner-analytics-genai-support.git
[submodule "services/learning-path-engine"]
	path = services/learning-path-engine
	url = https://github.com/SCI-PATH/learning-path-engine.git
[submodule "frontend/frontend-app"]
	path = frontend/frontend-app
	url = https://github.com/SCI-PATH/frontend-app.git

[submodule "services/user-management"]
	path = services/user-management
	url = https://github.com/SCI-PATH/user-management.git
